<div
  [routerLink]="['/pokemon/' + pokemon.name]"
  class="card"
  *ngFor="let pokemon of pokemonList"
>
  <img
    src="../../../assets/loading.gif"
    class="loadingGif"
    *ngIf="pokemonImgLoading[pokemon.name]"
    alt=""
  />
  <img
    [src]="getImageUrl(pokemon.url)"
    class="card-img-top"
    (load)="disableLoading(pokemon.name)"
    [style.visibility]="getVisibility(pokemon.name)"
    alt=""
  />

  <div class="card-body">
    <h5 class="card-title">
      {{ pokemon.name | hyphenToSpace | titlecase }}
    </h5>
  </div>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
></div>

<div>
  <img
    src="../../../assets/loading.gif"
    class="loadingGif"
    *ngIf="loadingMore"
    alt=""
  />
</div>
