<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <a [routerLink]="['']" (click)="resetSearch()" class="navbar-brand text-white">
      <img src="assets/logo.png" width="30" height="30"  class="d-inline-block align-top"> Pokedex
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="onSearchTextChange(searchOptions.searchText)"
          [(ngModel)]="searchOptions.searchText"
          [ngModelOptions]="{standalone: true}">
        <select
          class="form-control form-control"
          (change)="onSearchTypeChange(searchOptions.searchType)"
          [(ngModel)]="searchOptions.searchType"
          [ngModelOptions]="{standalone: true}">
          <option *ngFor="let pokemonType of pokemonTypes | keyvalue" [value]="pokemonType.value"> {{ pokemonType.value | titlecase }}</option>
        </select>
      </form>
    </div>
  </nav>
