<div class="row" *ngIf="loading">
  <div class="col-sm text-center">
    <img src="../../../assets/loading.gif" class="loadingGif" alt="">
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-sm">
    <ul>
      <li> <span class="font-weight-bold">Power: </span>{{ moveDetails?.power ? moveDetails?.power : 'NaN'}}</li>
      <li> <span class="font-weight-bold">PP: </span> {{ moveDetails?.pp  ? moveDetails?.pp : 'NaN' }}</li>
      <li> <span class="font-weight-bold">Accuracy:</span> {{ moveDetails?.accuracy  ? moveDetails?.accuracy : 'NaN' }}
      </li>
    </ul>
  </div>
  <div class="col-sm">
    <span class="font-weight-bold">Description: </span>

    {{ moveDetails?.description | effectChance: moveDetails?.effect_chance }}
  </div>
</div>
